[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
scikit-learn = "*"
elasticsearch = "*"
openai = "*"
tqdm = "*"
pandas = "*"
notebook = "==7.1.2"
sentence-transformers = "*"
numpy = "*"
torch = "*"
ipywidgets = "*"
gensim = "*"
nltk = "*"
pypdf2 = "*"
pdf2image = "*"
pytesseract = "*"
seaborn = "*"
spacy = "*"
transformers = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
